/*
div#box {
    height: 40px;
    width: 40px;
    border-color: white;
    border-width: 2px;
    margin: 20px;
    z-index: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(250, 90, 255, 0);
}
*/
header {
    background-color: #780000;
    position: fixed;
    height: 80px;
    width:100%;
    z-index: 9;
}

body.main-content {
    background-color:#fff8ef;
    position: relative;
}
/*
.icon-bar {
    background-color:#fdf0d5;
    height: 2px;
    width: 25px;
    margin-left: -6px;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-right: -5px;
    padding: 0;
}
*/
@media (min-width: 768px) {
    #box {
        display: none;
    }
}
/*
div.offcanvas.offcanvas-start {
    width: 200px;
    background-image: linear-gradient(to bottom right, rgb(160, 253, 160), white);
}

div.dropdown.mt-3 {
    width: 150px;
    text-align: left;
    text-decoration-color: rgb(231, 44, 231);
}
*/
@media (max-width: 767px) {
    div.container-fluid {
        display: none;
    }
}

div.portfolio {
    margin-left: 150px;
    font-family: "Poppins", sans-serif;
    font-size: larger;
    color:#fdf0d5;
    text-decoration: none; 
    text-overflow: ellipsis;
    font-weight: bold;
    display: inline-block;
    opacity:0;
    animation:slideright .5s ease forwards;
}
@keyframes slideright {
    0%{
        transform:translateX(-100px);
        opacity:0;
    }
    100%{
        tranform:translateX(0px);
        opacity:1;
    }
}

div.portfolio a {
    text-decoration: none;
    color: inherit;
}

div#item-box {
    margin-left: 30%;
    margin-right: 0;
    margin-top: 25px;
    display: inline-block;
}

div.items {
    margin-right: 30px;
    font-family: "Poppins", sans-serif;
    font-size: larger;
    color:#fdf0d5;
    text-decoration: none;
    text-overflow: ellipsis;
    font-weight: bold;
    display: inline-block;
    opacity:0;
    animation: slidetop .5s ease forwards;
}
.active, .items:hover {
    background-color: #666;
    color: white;
  }

div.items a {
    text-decoration: none;
    color: inherit;
}

div.items a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

div li {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    font-weight: bold;
    font-size: x-large;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
/*
div li a {
    text-decoration: none;
    color: rgb(231, 44, 231);
}

div li a:hover {
    color: black;
    text-decoration: underline;
}
*/
/*img*/
section3home-content{
    height:600px;
}

section#home-content div img {
    
    width: 300px;
    height: 300px;
    margin-left: 150px;
    margin-top: 170px;
    margin-right: 200px;
    border-radius: 50%;
    z-index: 9;
}
 div#outer-circle{
    opacity:0;
    animation: slideleft .7s ease forwards;
    animation-delay:.7s;
}
 div#outer-circle img {
    position: relative; 
    animation: rotate 1.5s linear infinite;
    padding: 0; 
    border-radius: 50%; 
    box-shadow: 
    0 0 20px rgba(255, 0, 255, 0.8),
    0 0 30px rgba(255, 0, 255, 0.6),
    0 0 40px rgba(255, 0, 255, 0.4),
    0 0 50px rgba(255, 0, 255, 0.2);
}

.outer-circle span {
    border-radius: 50%;
}

.outer-circle span:nth-child(1) {
    filter: blur(14px);
}

.outer-circle span:nth-child(2) {
    filter: blur(21px);
}
@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/*
div.outer-circle span {
    border-radius: 50%;
}

div.outer-circle span:nth-child(1) {
    filter: blur(7px);
}

div.outer-circle span:nth-child(2) {
    filter: blur(14px);
}

.outer-circle {
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
*/
p#name {
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    color:#c1121f;
    font-weight: 600;
    font-style: normal;
    text-align:left;
    font-size: 60px;
    margin:0px 0 5px 150px;
    opacity:0;
    animation: slideright .7s ease forwards;
    animation-delay: .7s;
}
p.hello{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color:#023069;
    margin:170px 0 5px 150px;
    opacity:0;
    animation: slidebottom .5s ease forwards;
    animation-delay: 0.3s;
}
@keyframes slidebottom{
    0%{
        transform:translateY(-100px);
        opacity:0;
    }
    100%{
        transform:translateY(0px);
        opacity:1;
    }
}
@keyframes slideleft{
    0%{
        transform:translatex(100px);
        opacity:0;
    }
    100%{
        transform:translateY(0px);
        opacity:1;
    }
}
p.work-title {
    font-family: "Poppins", sans-serif;
    color: #023069;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    text-align: left;
    margin:0px 0 5px 150px;
    opacity:0;
    animation: slidebottom .7s ease forwards;
    animation-delay: 1s;

}

p.work-description {
    font-family: "Poppins", sans-serif;
    color: #FF6E4A;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    width: 400px;
    margin: 10px 0 8px 150px;
    line-height: 90%;
    opacity:0;
    animation:slideleft .7s ease forwards;
    animation-delay:1.3s;
}

span.auto-type{
    color:#FC6679;
}
@keyframes slidetop {
    0%{
        transform:translateY(100px);
        opacity:0;
    }
    100%{
        tranform:translateY(0px);
        opacity:1;
    }
}
div.socials{
    margin-left:145px;
    opacity: 0;
    animation: slideright .7s ease forwards;
    animation-delay: 1.3s;
}

.fa-facebook {
    width:25px;
    height:25px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    padding: 5px;

    background: #3B5998;
    color: white;
    margin:5px;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
    width:25px;
    height:25px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin:5px;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    width:25px;
    height:25px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin:5px;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
    width:25px;
    height:25px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin:5px;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
    width:25px;
    height:25px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin:5px;
  }
  
  .fa-facebook:hover{
    color:#750707;
    background: #fff8ef;
    border:1px solid #750707;
    text-decoration: none;
  }
  
  .fa-pinterest:hover{
    color:#750707;
    background: #fff8ef;
    border:1px solid #750707;
    text-decoration: none;
  }
  .fa-instagram:hover{
    color:#750707;
    background: #fff8ef;
    border:1px solid #750707;
    text-decoration: none;
  }
  .fa-youtube:hover{
    color:#750707;
    background: #fff8ef;
    border:1px solid #750707;
    text-decoration: none;
  }
  .fa-linkedin:hover{
    color:#750707;
    background: #fff8ef;
    border:1px solid #750707;
    text-decoration: none;
  }
  /*about*/
  section#about-content{
    height:600px;
}

  section#about-content div#outer-circle img {
    width: 300px;
    height: 300px;
    margin-left: 150px;
    margin-top:200px;
    margin-right: 0;
    border-radius: 50%;
    z-index: 9;
  }
div#about{
   width:500px;
   margin-right:100px;
   margin-left:-30px;
   margin-top:200px;
   margin-bottom: 200px;
  }

section#skills-content{
    height:600px;
    align-items: center;
}

section#services-content{
    height:600px;
  }
  
  section#services-content div.row{
    padding-left:80px;
    padding-right:50px;
    padding-top:30px;
  }
  #service-list {
    width:300px;
    margin-right:50px;
    margin-left:50px;
    text-align: left;
   padding:10px;
   border:solid black 2px;
  }

  section#project-content{
    height:600px;
    align-items: center;
  }
  section#contact-content{
    height:600px;
    align-items: center;
  }
